﻿@{
    ViewBag.Title = "About strmr<small>&#0153;</small>";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>As the internet of things and remote data sensing technologies advance, storing and analyzing the large volume of heterogeneous data from the variety of sensors has become a challenge. strmr is a web protocol that aims to solve this problem by enabling everyone to perform enable ad hoc sensor data acquisition and providing near real time analysis. </p>
<p>
    strmr provides a complete pipeline for all your sensor data needs:
    <ul>
        <li>A sensor software stack for data collecting devices running Ubuntu. You can also utilize any one of our <a href="/Home/Libraries">open source libraries</a> and integrate that into your own sensor platform.</li>
        <li>Data storage and backup for all the data collected from your sensor platform</li>
        <li>Distribution of data collected through one of our dashboards or access the data through the API</li>
        <li>A customizeable visualization system to look for anomalies or trends in your data</li>
        <li>A robust notification system with triggering allowing you to recieve alerts from your data in real time</li>
    </ul>

    <h3>Is my data backed up and always available?</h3>
<p>strmr is currently a rapidly changing prototype, so data integrity and service uptime is not guaranteed. We do our best to ensure no data is lost by any changes or upgrades we make, but with any rapidly changing platform there is always the possibility that data can be lost or corrupted.</p>
<p>In the event the of a service interruption, our client side software is capable of buffering data that was unable to be transmitted until the service is restored</p>

<h3>I don't trust anyone with my data, what do you have for me?</h3>
<p>strmr was developed as an extremly flexible platform capable of running on a large variety of systems as a distributed deployment as well as a single system deployment. Please <a href="/Home/Contact">Contact us</a> with your specific needs and we will try and work with you.</p>