﻿@{
    ViewBag.Title = "Home";
}

<div class="jumbotron" style="background-color: white; background-image:url(/Media/sslogo-fade.jpg); background-repeat: no-repeat">
    <div >
        <h1>strmr<sup><small>&#0153;</small></sup></h1>
        <p class="lead">strmr is a web protocol for enabling ad hoc sensor data acquisition and near real time analysis for any device capable of transmitting data. This ranges from simple temperature sensors to more complex multi-variable sensor collection platforms.</p>
        <p><a href="/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            The first thing to do is login using your Microsoft Live ID. Once this is done, check out the <a href="/Home/Documentation">Documentation</a> section to get started with a data collection device.
        </p>
        <p><a class="btn btn-default" href="/Account/Login">Login &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Documentation</h2>
        <p>After registering, head over to the documentation section to learn more about the strmr API and customizable dashboards and widgets.</p>
        <p><a class="btn btn-default" href="/Home/Documentation">Documentation &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Samples</h2>
        <p>Already registered for an account? Checked out the documentation and want to get started? Go ahead and check out some of our samples!</p>
        <p><a class="btn btn-default" href="/Home/Samples">Samples &raquo;</a></p>
    </div>
</div>
