﻿
@{
    ViewBag.Title = "strmr Libraries";
}
<h1>@ViewBag.Title</h1>

<p>All the strmr libraries can be found on Github <a href="https://github.com/alex-wiggins/SensorStream">here</a>.</p>

<h3>Ruby:</h3> 
<p><a href="https://rubygems.org/gems/SensorStream/">SensoryStream Gem</a></p>
<p><a href="https://github.com/alex-wiggins/SensorStream/tree/master/Ruby">Code on Github</a></p>

<h3>C#:</h3> 
<a href="https://github.com/alex-wiggins/SensorStream/tree/master/C%23/SensorStream.Lib">Library on GitHub</a> (Test and sample code coming soon)

<h3>Javasript</h3> 
<a href="/Media/dataman.js">strmr Dataman</a>

<h3>c/c++</h3> 
<a href="#">Coming Soon!</a>