﻿@using SensorStreamManage.Models
@model SensorStreamManage.Models.Dashboard

<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
<div class="modal-body">
    <h2>Save Dashboard</h2>
    @using (@Html.BeginForm("SaveDashboard", "Dashboard", FormMethod.Post, new { @id = "frm" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.SerializedLayout)
        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Hidden, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Hidden, new { htmlAttributes = new { id = "hiddenCheck" } })
                        @Html.ValidationMessageFor(model => model.Hidden, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-1 col-md-10">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" style="display: inline">
                        Cancel
                    </button>
                    <button type="submit" id="approve-btn" class="btn btn-success" style="display: inline">
                        Save
                    </button>
                </div>
            </div>
        </div>
    }
</div>
<script type="text/javascript">
    $(function () {
        $('#approve-btn').click(function () {
            var string = window.parent.serializeLayout();
            $('input#SerializedLayout').val(string);
        });
    });

    AddAntiForgeryToken = function (data) {
        data.__RequestVerificationToken = $('#__AjaxAntiForgeryForm input[name=__RequestVerificationToken]').val();
        return data;
    };

    $(function () {
        $('#frm').submit(function (e) {
            var form = $('#frm');
            var token = $('input[name="__RequestVerificationToken"]', form).val();
            e.preventDefault();
            formData = JSON.stringify({
                Name: $('#Name').val(),
                Description: $('#Description').val(),
                Hidden: $('#hiddenCheck').prop('checked'),
                SerializedLayout: $('#SerializedLayout').val()
            })
            $.extend(formData, { '__RequestVerificationToken': token });
            var headers = {};
            headers['__RequestVerificationToken'] = token;
            $.ajax({
                url: "/Dashboard/SaveDashboard",
                type: "POST",
                headers: headers,
                data: {
                    __RequestVerificationToken: token,
                    dash: formData
                },
                success: function (result) {
                    //if record was added to db, then...
                    //window.location.replace('/Providers/Index'); //we can redirect
                    //or simply close our modal.
                    $('#modal-container').modal('hide');
                },

                error: function (result) {
                }
            });
        });
    });
</script>