﻿@model IEnumerable<SensorStreamManage.Models.Dashboard>

@{
    ViewBag.Title = "My Dashboards";
}

<h2>My Dashboards</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hidden)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SerializedLayout)
        </th>
        <th>
            View Board
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hidden)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerializedLayout)
            </td>
            <td>
                @Html.ActionLink("view", "ViewBoard", new { id = item.ID})
            </td>
        </tr>
    }

</table>
