﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 850px;
}

li.nav-header{
    padding-left: 15px;
    font: bol;
    background-color: aliceblue;
}

a.python
{
    background: url(../images/python-logo.png) no-repeat top left;
     display: block;
     width: 211px;
     height: 71px;
     text-indent: -9999px; /* hides the link text */
}
