﻿@model SensorStreamManage.Models.DevStreamDataStream
<h3>Stream Info:</h3>
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Stream.StreamName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Stream.StreamName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Stream.Description)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Stream.StreamName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Stream.DateCreated)
    </dt>

    <dd>
        @Html.DisplayNameFor(model => model.Stream.StreamName)
    </dd>
</dl>
<h4>Data Streams:</h4>
<hr />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DataStreams[0].name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataStreams[0].units)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataStreams[0].type)
        </th>
    </tr>
    @foreach (var item in Model.DataStreams)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.units)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
        </tr>
    }
</table>

