﻿@model SensorStreamManage.Models.DevicePlusStreams
@{
    ViewBag.Title = "Device Details";
}
<br />
@Scripts.Render("~/bundles/jquery")
@Html.ActionLink("Back to Devices", "Index")
<h2>Device:</h2>
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Device.DeviceName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Device.DeviceName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Device.Description)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Device.Description)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Device.UserName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Device.UserName)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Device.DateCreated)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Device.DateCreated)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Device.DeviceKey)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Device.DeviceKey)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Device.IsPrivate)
    </dt>

    <dd>
        @(Model.Device.IsPrivate ? "Yes" : "No")
    </dd>


</dl>
<hr />
<h3>Streams:</h3>
@Html.ActionLink("Create New Stream", "StreamCreate", new { id = Model.Device.DeviceID }) 
@if(Model.Streams.Count > 0){ 
    @Html.Raw(" | ")
    @Html.ActionLink("Delete All Streams", "StreamDeleteAll", new { id = Model.Device.DeviceID })
}
<br />
<br />  
<table class="table" id="streamTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Streams[0].StreamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Streams[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Streams[0].StreamID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Streams[0].DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Streams[0].isPrivate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Streams)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StreamName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StreamID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @(item.isPrivate ? "Yes" : "No")
                </td>
                <td>
                    @Html.ActionLink("Details", "StreamDetails", new { id = item.StreamID }) |
                    @Html.ActionLink("Delete", "StreamDelete", new { id = item.StreamID })
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        $('#streamTable').DataTable();
    });
</script>
@Html.ActionLink("Back to Devices", "Index")
