﻿@model IEnumerable<SensorStreamManage.Models.Device>

@{
    ViewBag.Title = "Index";
}
@Scripts.Render("~/bundles/jquery")
<!-- DataTables -->
<h2>Your Devices: </h2>
<br />
<table class="table" id="deviceTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeviceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPrivate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr title="@(item.Description)">
                <td>
                    @Html.DisplayFor(modelItem => item.DeviceName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeviceKey)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @(item.IsPrivate ? "Yes" : "No")
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.DeviceID }) |
                    @Html.ActionLink("Edit", "Edit", new { id = item.DeviceID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.DeviceID })
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        $('#deviceTable').DataTable();
    });
</script>
<hr />
@Html.ActionLink("New Device", "Create", null, new { @class = "btn btn-default" })