﻿@model SensorStreamManage.Models.DevStreamDataStream
@{
    ViewBag.Title = "Stream Details";
}
@Scripts.Render("~/bundles/jquery")

<script type="text/javascript">
    $(document).ready(function () {
        $('#dataStreamTable').DataTable();
    });
</script>

<br />
@Html.ActionLink("Back to Stream List", "Details", new { id = Model.Device.DeviceID })
<h2>Stream Details</h2>
<h2>Device Info:</h2>
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Device.UserName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Device.UserName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Device.DeviceName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Device.DeviceName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Device.Description)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Device.Description)
    </dd>

</dl>
<hr />
<h3>Stream Info:</h3>
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Stream.StreamName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Stream.StreamName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Stream.Description)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Stream.Description)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Stream.StreamID)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Stream.StreamID)
<dt>
        @Html.DisplayNameFor(model => model.Stream.DateCreated)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Stream.DateCreated)
    </dd>
</dl>
<h4>Data Streams:</h4>
<hr />
<table class="table" id="dataStreamTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataStreams[0].name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataStreams[0].units)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataStreams[0].type)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DataStreams)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.units)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.type)
                </td>
            </tr>
        }
    </tbody>
</table>
<h4>Download Template:</h4>
<hr />
@Html.ActionLink("Download Python", "GetPython", new { id = Model.Stream.StreamID }, new { @class = "python" })
<br />
@Html.ActionLink("Back to Stream List", "Details", new { id = Model.Device.DeviceID })


