﻿@model SensorStreamManage.Models.DevStreamDataStream
@{
    ViewBag.Title = "Stream Delete";
}
<br />

<h3>Are you sure you want to delete this stream?</h3>
<div>
    @{Html.RenderPartial("_StreamWithDetail");}

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> 
            @Html.ActionLink("Cancel", "Details", new { id = ViewBag.DevID }, new {@class ="btn btn-default"})
        </div>
    }
</div>
@Scripts.Render("~/bundles/jquery")


