﻿@using SensorStreamManage.Models
@model SensorStreamManage.Models.StreamPlusDataStream


@{
    ViewBag.Title = "Create New Stream";
}

<h2>Create Stream</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.stream.StreamName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.stream.StreamName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.stream.StreamName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.stream.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.stream.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.stream.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.stream.Units, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                <select id='stream_units_select' class='form-control' name='UnitSelect' onchange="ChangeUnits(this.value)">
                    <option selected="selected" value="other">None/Other</option>
                    <option value="strmr_Location">Location</option>
                    <option value="strmr_Cartesian_2D">Cartesian 2D</option>
                    <option value="strmr_Cartesian_3D">Cartesian 3D</option>
                    <option value="strmr_Polar">Polar</option>
                </select>
                <input class="form-control text-box single-line" style="display: block" id="stream_Units" name="stream.Units" type="text" value="" />                 
                @Html.ValidationMessageFor(model => model.stream.Units, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.stream.isPrivate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.stream.isPrivate)
                    @Html.ValidationMessageFor(model => model.stream.isPrivate, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <h3>Data Streams</h3>
            <hr />
            <div class="form-group">
                <div class="col-md-offset-3 col-md-10">
                    @Html.ValidationMessage("DataStreams", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-offset-2 col-md-10">
                <table id="dataStreamTable">
                    <tbody id="streamrow">
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Units
                            </th>
                            <th>
                                Type
                            </th>
                            <th></th>
                        </tr>
                        @{int rowNo = 0;}
                        @foreach (var item in Model.dataStreams)
                        {
                            <tr id="@("dataStreams" + rowNo)">
                                <td style='display:none'><input name='dataStreams.Index' type='hidden' value='@(rowNo)' /></td>
                                <td><input id='dataStreams_@(rowNo)__Name' name='dataStreams[@(rowNo)].name' type='text' value='@(item.name)' class='form-control' /></td>
                                <td><input id='dataStreams_@(rowNo)__Units' name='dataStreams[@(rowNo)].units' type='text' value='@(item.units)' class='form-control' /></td>
                                <td>
                                    <select id='dataStreams_@(rowNo)__Type' class='form-control' name='dataStreams[@(rowNo)].type'>
                                        <option selected="selected" value="int">int</option>
                                        <option value="ascii">ascii</option>
                                        <option value="bigint">bigint</option>
                                        <option value="blob">blob</option>
                                        <option value="boolean">boolean</option>
                                        <option value="counter">counter</option>
                                        <option value="decimal">decimal</option>
                                        <option value="double">double</option>
                                        <option value="float">float</option>
                                        <option value="text">text</option>
                                        <option value="timestamp">timestamp</option>
                                        <option value="uuid">uuid</option>
                                        <option value="timeuuid">timeuuid</option>
                                        <option value="varchar">varchar</option>
                                        <option value="varint">varint</option>
                                    </select>
                                </td>
                                <td>
                                    @if (rowNo != 0)
                                    {
                                        <input id='btnDelDataStream' type='button' value='Remove' onclick='removeRow(@("dataStreams" + rowNo++));' class="btn btn-default" />
                                    }
                                    else
                                    {
                                        rowNo++;
                                    }


                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <input id="btnAddDataStream" type="button" onclick="addRow();" value="Add Data Stream" class="btn btn-default" />
            </div>
        </div>

        <div class="form-group">
            <hr />
            <div class="col-md-offset-1 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
                @Html.ActionLink("Cancel", "Details", new { id = ViewBag.DevID }, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}
<div>
</div>
<script type="text/javascript">
    // Wait for the page to load first
    window.onload = function () {
    }
    var select = '<option selected="selected" value="int">int</option><option value="ascii">ascii</option><option value="bigint">bigint</option><option value="blob">blob</option><option value="boolean">boolean</option><option value="counter">counter</option><option value="decimal">decimal</option><option value="double">double</option><option value="float">float</option><option value="text">text</option><option value="timestamp">timestamp</option><option value="uuid">uuid</option><option value="timeuuid">timeuuid</option><option value="varchar">varchar</option><option value="varint">varint</option></select>'
    function addRow() {

        @{
               Model.dataStreams.Add(new DataStream());
         }

        var index = Math.floor((Math.random() * 10000000000) + 1);
        var check = "#dataStreams" + index;
        while ($(check).length) {
            index = Math.floor((Math.random() * 10000000000) + 1);
            check = "#dataStreams" + index;
        }


        var indexCell = "<td style='display:none'><input name='dataStreams.Index' type='hidden' value='" + index + "' /></td>";
        var nameCell = "<td><input id='dataStreams_" + index + "__Name' name='dataStreams[" + index + "].name' type='text' value=''  class='form-control'  /></td>";
        var unitsCell = "<td><input id='dataStreams_" + index + "__Units' name='dataStreams[" + index + "].units' type='text' value=''  class='form-control'  /></td>";
        var typeCell = "<td><select id='dataStreams_" + index + "__Type' name='dataStreams[" + index + "].type'  class='form-control' >" + select + "</td>";
        var removeCell = "<td><input id='btnDelDataStream' type='button' value='Remove' onclick='removeRow(" + index + ");' class='btn btn-default'  /></td>";
        var newRow = "<tr id='dataStreams" + index + "'>" + indexCell + nameCell + unitsCell + typeCell + removeCell + "</tr>";
        $("#streamrow").append(newRow);
    }

    function addRowSpecial(name, units, type) {

        @{
            Model.dataStreams.Add(new DataStream());
        }

        var index = Math.floor((Math.random() * 10000000000) + 1);
        var check = "#dataStreams" + index;
        while ($(check).length) {
            index = Math.floor((Math.random() * 10000000000) + 1);
            check = "#dataStreams" + index;
        }


        var indexCell = "<td style='display:none'><input name='dataStreams.Index' type='hidden' value='" + index + "' /></td>";
        var nameCell = "<td><input id='dataStreams_" + index + "__Name' name='dataStreams[" + index + "].name' type='text' value='"+name+"'  class='form-control'  /></td>";
        var unitsCell = "<td><input id='dataStreams_" + index + "__Units' name='dataStreams[" + index + "].units' type='text' value='" + units + "'  class='form-control'  /></td>";
        var typeCell = "<td><select id='dataStreams_" + index + "__Type' name='dataStreams[" + index + "].type'  class='form-control' >" + select + "</td>";
        var removeCell = "<td></td>";
        var newRow = "<tr id='dataStreams" + index + "'>" + indexCell + nameCell + unitsCell + typeCell + removeCell + "</tr>";
        $("#streamrow").append(newRow);
        var selectToChange = "#dataStreams_" + index + "__Type";
        var selectElement = $(selectToChange);
        selectElement.val(type);
    }

    function removeRow(id) {
        var controlToBeRemoved = "#dataStreams" + id;
        $(controlToBeRemoved).remove();
    }

    function removeAll(){
        $("tr[id*=dataStreams]").remove();
    }

    function ChangeUnits(value) {
        removeAll();
        var text = $("#stream_Units");
        if (value == "other") {
            text.show();
            text.value = "";
            addRowSpecial("","","int");
        } else {
            text.hide();
            text.value = value;
            if (value == "strmr_Cartesian_2D") {
                addRowSpecial("X", "double", "double");
                addRowSpecial("Y", "double", "double");
            }else if (value == "strmr_Cartesian_3D") {
                addRowSpecial("X", "double", "double");
                addRowSpecial("Y", "double", "double");
                addRowSpecial("Z", "double", "double");
            } else if (value == "strmr_Location") {
                addRowSpecial("Latitude", "degrees", "double");
                addRowSpecial("Longitude", "degrees", "double");
                addRowSpecial("Elevation", "M above MSL", "double");
            } else if (value == "strmr_Polar") {
                addRowSpecial("theta", "degrees", "double");
                addRowSpecial("radius", "double", "double");
            }
        }
    }

</script>
@Scripts.Render("~/bundles/jquery")
