﻿@model SensorStreamManage.Models.DataStream
<tr>
    <td></td>
    <td>
        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
    </td>
    <td>
        @Html.EditorFor(model => model.units, new { htmlAttributes = new { @class = "form-control" } })
    </td>
    <td>
        @Html.DropDownListFor(model => model.type, new List<SelectListItem> {
                new SelectListItem { Text = "int"      , Value = "int"      , Selected = true},
                new SelectListItem { Text = "ascii"    , Value = "ascii"    },
                new SelectListItem { Text = "bigint"   , Value = "bigint"   },
                new SelectListItem { Text = "blob"     , Value = "blob"     },
                new SelectListItem { Text = "boolean"  , Value = "boolean"  },
                new SelectListItem { Text = "counter"  , Value = "counter"  },
                new SelectListItem { Text = "decimal"  , Value = "decimal"  },
                new SelectListItem { Text = "double"   , Value = "double"   },
                new SelectListItem { Text = "float"    , Value = "float"    },
                new SelectListItem { Text = "text"     , Value = "text"     },
                new SelectListItem { Text = "timestamp", Value = "timestamp"},
                new SelectListItem { Text = "uuid"     , Value = "uuid"     },
                new SelectListItem { Text = "timeuuid" , Value = "timeuuid" },
                new SelectListItem { Text = "varchar"  , Value = "varchar"  },
                new SelectListItem { Text = "varint"   , Value = "varint"   }
               }, new { htmlAttributes = new { @class = "form-control" } })
    </td>
</tr>
