﻿@model List<SensorStreamManage.Models.DevStreamDataStream>
@{
    ViewBag.Title = "Delete All Streams";
}
<br />

<h3>Are you sure you want to delete all these streams?</h3>
<div>
@foreach (var item in Model)
{
    Html.RenderPartial("_StreamWithDetail", item);
}

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
            @Html.ActionLink("Cancel", "Details", new { id = ViewBag.DevID }, new { @class = "btn btn-default" })
        </div>
    }
</div>
@Scripts.Render("~/bundles/jquery")


