#slider {
    margin: 10px;
}
body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family:"Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    color: #434747;
}
div#Header {
    position: absolute;
    top: 0;
    left: 0;
    height: 120px;
    width:100%;
    background-color: #77a6a6;
}
div#content {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 125px;
    height: 100%;
    width:100%;
    background-color: #b8dcdc;
}
div.container {
    position: absolute;
    display: block;
    height: 85%;
    overflow: hidden;
}
div.scrollingList {
    width:99%;
    overflow-y: auto;
    height: 85%;
}
div#DevicesBar {
    position:relative;
    background-color: #ddd;
    width: 20%;
    display: inline-block;
    vertical-align: top;
}
div#StreamBar {
    position:relative;
    background-color: #ddd;
    width: 16%;
    display: inline-block;
    vertical-align: top;
}
div#Viewer {
    position: relative;
    background-color: #fff;
    width:79%;
    display: inline-block;
    vertical-align: top;
    overflow: auto;
}
div.device {
    background-color: rgba(255, 255, 255, 0.5);
    margin:15px;
    /*max-height: 33%;
    overflow-y: auto;*/
}
div.device:hover {
    cursor: hand;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 1.0);
}
div.stream {
    background-color: rgba(200, 200, 200, 0.5);
    margin:15px;
}
div.stream:hover {
    cursor: hand;
    cursor: pointer;
    background-color: rgba(200, 200, 200, 1.0);
}
span.streamid {
    font-size: 10px;
}

span.userName{
    font-size: 10px;
}

p.descriptive{
    font-size: 13px;
}

h1 {
    color: #B8DCDC;
}
h3 {
    position: relative;
    text-align: center;
}

.controls {
    margin-bottom: 20px;
}

.gridster ul {
    background-color: #FeFeFe;
    list-style-type: none;
}

.gridster li {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    line-height: 100%;
}


.gridster {
    margin: 0 auto;

    opacity: .8;

    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
    
    border: 2px;
    border-color: #B8DCDC;
}

.gridster .gs-w {
    background: #fff;
    cursor: pointer;
    border: 2px;
    border-style: solid;
    border-color: #B8DCDC;
}

.gridster .player {
    
    border: 1px;
    border-color: #B8DCDC;
}


.gridster .preview-holder {
    border: none!important;
    background: #B8DCDC!important;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.dots {
    color: steelblue;
    fill: steelblue;
}

.imgtl{
    width: 90%;
}

.loadingdiv {
    position: relative;
    display: block;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 100px;
}
.loadingdiv span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 50px auto;
    margin-left: auto;
    margin-right: auto;
    width: 10px;
    height: 10px;
    background: #174C4F;
    border-radius: 10px;
    -webkit-animation: loading 0.9s infinite alternate;
    -moz-animation: loading 0.9s infinite alternate;
    -o-animation: loading 0.9s infinite alternate;
    animation: loading 0.9s infinite alternate;
}
.loadingdiv span:nth-of-type(2) {
    background: #207178;
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.loadingdiv span:nth-of-type(3) {
    background: #FF9666;
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
.loadingdiv span:nth-of-type(4) {
    background: #FFE184;
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
.loadingdiv span:nth-of-type(5) {
    background: #F5E9BE;
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
}
@-webkit-keyframes loading {
    0% {
        width: 10px;
        height: 10px;
        opacity:0.1;
        -webkit-transform: translateY(0);
    }
    100% {
        width: 24px;
        height: 24px;
        opacity:0.7;
        -webkit-transform: translateY(-21px);
    }
}
@-moz-keyframes loading {
    0% {
        width: 10px;
        height: 10px;
        opacity:0.1;
        -moz-transform: translateY(0);
    }
    100% {
        width: 24px;
        height: 24px;
        opacity:0.7;
        -moz-transform: translateY(-21px);
    }
}
@-o-keyframes loading {
    0% {
        width: 10px;
        height: 10px;
        opacity:0.1;
        -o-transform: translateY(0);
    }
    100% {
        width: 24px;
        height: 24px;
        opacity:0.7;
        -o-transform: translateY(-21px);
    }
}
@keyframes loading {
    0% {
        width: 10px;
        height: 10px;
        opacity:0.1;
        transform: translateY(0);
    }
    100% {
        width: 24px;
        height: 24px;
        opacity:0.7;
        transform: translateY(-21px);
    }
}