﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("strmr", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("My Devices", "Index", "Device")</li>
                    <li class="dropdown">
                        <a href="/Home/Dashboard" class="dropdown-toggle" id="dropdownCommonMenu" data-toggle="dropdown">Dashboard</a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownCommonMenu">
                            <li role="menuitem">@Html.ActionLink("Create/Explore", "Dashboard", "Home")</li>
                            <li role="menuitem">@Html.ActionLink("My Dashboards", "Index", "Dashboard")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Documentation", "Documentation", "Home")</li>
                    <li class="dropdown">
                        <a href="/Home/Samples" class="dropdown-toggle" id="dropdownCommonMenu" data-toggle="dropdown">Examples</a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownCommonMenu">
                            <li role="menuitem" class="nav-header">Code</li>
                            <li role="menuitem">@Html.ActionLink("Sample Code", "Samples", "Home")</li>
                            <li role="menuitem" >@Html.ActionLink("Libraries", "Libraries", "Home")</li>
                            <li role="menuitem" class="divider"></li>
                            <li role="menuitem" class="nav-header">Examples</li>
                            <li role="menuitem"><a href="http://nct.azurewebsites.net">NCT Sample Site</a></li>
                        </ul>
                    </li>

                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2014 - @DateTime.Now.Year - OSU College of Earth, Ocean, and Atmospheric Sciences</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</body>
</html>
