﻿@{
    ViewBag.Title = "Dashboard";
}

@Scripts.Render("~/bundles/jquery")
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        // Initialize modal dialog
        // attach modal-container bootstrap attributes to links with .modal-link class.
        // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.
        $('body').on('click', '.modal-link', function (e) {
            e.preventDefault();
            $(this).attr('data-target', '#modal-container');
            $(this).attr('data-toggle', 'modal');
        });
        // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
        $('body').on('click', '.modal-close-btn', function () {
            $('#modal-container').modal('hide');
        });
        //clear modal cache, so that new content can be loaded
        $('#modal-container').on('hidden.bs.modal', function () {
            $(this).removeData('bs.modal');
        });
        $('#CancelModal').on('click', function () {
            return false;
        });
    });

</script>
<style>
    .modal-body {
        width: 600px !important;
        margin: 30px auto !important;
        background-color: white;
    }
</style>

@Styles.Render("~/Content/dashboard")

@section scripts
{
    @Scripts.Render("~/bundles/dashboard")
    <script src="https://localhost/signalr/hubs"></script>
    <script>
        // Global declarations.
        toggleSpeed = 150;  // milliseconds
        gridWidth = 4.0;    // cells
        gridHeight = 4.0;   // cells
        gridPadding = 25.0; // pixels
        dataTable = {};

        var getStreamWatcher = function (streamID) {
            // If there is already a monitor, return it. Otherwise we need a new one.
            if (dataTable.hasOwnProperty(streamID)) {
                var w = watcher(dataTable[streamID].monitor);
                dataTable[streamID].watchers.push(w);
                return w;
            } else {
                var sm = streamMonitor(streamID)
                var w = watcher(sm);
                dataTable[streamID] = {
                    'monitor': sm,
                    'watchers': [w]
                };
                return w;
            }
        };

        var removeWatcher = function (w) {
            var sid = w.m.streamID;
            if (dataTable.hasOwnProperty(sid)) {
                remove(dataTable[sid].watchers, w);
                // Destroy the monitor if no one is watching.
                if (dataTable[sid].watchers.length < 1) {
                    dataTable[sid].monitor.destroy();
                    delete dataTable[sid];
                }
            }
        };

        // A thin wrapper to provide a pointer to the monitor for this stream.
        watcher = function (monitor) {
            return new (function () {
                this.m = monitor;
            })();
        };

        var serializeLayout = function () {
            return JSON.stringify(gridster.serialize());
        };


        window.onload = function () {
            $('#content').css("height", $(document).height() * 0.8);
            $(function () {


                $.dm.connect()

                gridster = $(".gridster ul").gridster({
                    widget_base_dimensions: [
                        ($('#Viewer').width() - gridPadding) / gridWidth,
                        ($('#Viewer').height() - gridPadding) / gridHeight
                    ],
                    widget_margins: [1, 1],
                    helper: 'clone',
                    serialize_params: function ($w, wgd) {
                        return {
                            col: wgd.col,
                            row: wgd.row,
                            size_x: wgd.size_x,
                            size_y: wgd.size_y,
                            deviceid: $w.attr('deviceid'),
                            streamid: $w.attr('streamid'),
                            visid: $w.attr('visid'),
                            showing: $w.attr('showing'),
                        };
                    },
                    resize: {
                        enabled: true,

                        // The resize callbacks here
                        start: function (e, ui, $widget) {
                            if ($widget[0].hasOwnProperty('startResize')) {
                                $widget[0].startResize(e, ui);
                            }
                        },

                        resize: function (e, ui, $widget) {
                            if ($widget[0].hasOwnProperty('resizing')) {
                                $widget[0].resizing(e, ui);
                            }
                        },

                        stop: function (e, ui, $widget) {
                            if ($widget[0].hasOwnProperty('stopResize')) {
                                $widget[0].stopResize(e, ui);
                            }
                        }
                    },
                }).data('gridster');
            });

            var visTable = {
                line: {
                    construct: function () {
                        return {
                            options: {
                                // These will populate the settings menu
                                // Put anything user modifiable here.
                                // Specification for operation is STUBBED.
                            },
                            state: {
                                // These are hidden from the settings menu
                                // These do not need to pre declared, just a reference thing.
                                chart: null,
                                cuid: null,
                                container: null,
                                data: null,
                                context: null,
                            },
                            init: function (data, container) {
                                this.state.container = container;
                                conn = this;
                                conn.state.context = data;
                                // Add the svg element for the chart.
                                conn.state.cuid = container.parent().parent().attr('id') + '-lineplot';
                                conn.state.svg = $('<svg id="' + this.state.cuid + '"></svg>')
                                            .attr('height', container.parent().height() * 0.99)
                                            .attr('width', container.parent().width() * 0.99);


                                container.append(conn.state.svg);

                                nv.addGraph(function () {
                                    var chart = nv.models.lineChart()
                                              .margin({ left: 100, right: 50 })  //Adjust chart margins to give the x-axis some breathing room.
                                              .useInteractiveGuideline(false)    //We want nice looking tooltips and a guideline!
                                              .transitionDuration(10)           //how fast do you want the lines to transition?
                                              .showLegend(true)                  //Show the legend, allowing users to turn on/off line series.
                                              //.showYAxis(true)                 //Show the y-axis
                                              .showXAxis(true)                   //Show the x-axis
                                    ;
                                    chart.xAxis     //Chart x-axis settings
                                         .axisLabel('Time')
                                         .tickFormat(function (d) {
                                             return d3.time.format('%m/%d %H:%M:%S')(new Date(d));
                                         });

                                    var transformData = function () {
                                        var result = [];
                                        for (var i in data.Streams[0].DataStreams) {
                                            var ds = data.Streams[0].DataStreams[i];
                                            var r = {
                                                values: [],
                                                key: ds.name + "(" + ds.units + ")",
                                            };

                                            for (var j in data.Streams[0].Data) {
                                                var d = data.Streams[0].Data[j];
                                                var v = parseFloat(d.values[ds.name]);
                                                var t = moment(d.time);
                                                if (!isNaN(v)) {
                                                    r.values.push({
                                                        x: t,
                                                        y: v,
                                                    });
                                                }
                                            }
                                            if (r.values.length > 0)
                                                result.push(r);
                                        }

                                        return result
                                    }

                                    conn.state.data = transformData();

                                    d3.select('#' + conn.state.cuid)    //Select the <svg> element you want to render the chart in.
                                      .datum(conn.state.data)           //Populate the <svg> element with chart data...
                                      .call(chart);                     //Finally, render the chart!

                                    conn.state.chart = chart;
                                    return chart;
                                });
                                return this;
                            },
                            startResize: function () {
                                // Called when the widget starts to resize
                                this.state.svg.attr('height', this.state.container.parent().height() * 0.99)
                                            .attr('width', this.state.container.parent().width() * 0.99);
                                d3.select("#" + this.state.cuid).transition().duration(0).call(this.state.chart);
                            },
                            resizing: function () {
                                // Called at some intervals while resizing is in progress
                                // Use this cautiously; substantial resource consumption.
                                //this.state.svg.attr('height', this.state.container.parent().height() * 0.99)
                                //            .attr('width', this.state.container.parent().width() * 0.99);
                                //d3.select("#" + this.state.cuid).transition().duration(0).call(this.state.chart);
                            },
                            stopResize: function () {
                                // Called when resizing is complete.
                                this.state.svg.attr('height', this.state.container.parent().height() * 0.99)
                                            .attr('width', this.state.container.parent().width() * 0.99);
                                d3.select("#" + this.state.cuid).transition().duration(0).call(this.state.chart);
                            },
                            add: function (item) {
                                for (var i in this.state.context.Streams[0].DataStreams) {
                                    var ds = this.state.context.Streams[0].DataStreams[i];
                                    for (var j in this.state.data) {
                                        for (var k in item) {
                                            var d = this.state.data[j];
                                            if (d.key == ds.name + "(" + ds.units + ")") {
                                                d.values.push({ x: item[k].time, y: parseFloat(item[k].values[ds.name]) });
                                                d.values.shift();
                                            }
                                        }
                                        d.values.sort(function (a, b) { return a.x < b.x ? -1 : a.x > b.x ? 1 : 0; });
                                        
                                    }
                                }
                                
                                // This could be better implemented using the d3 .enter and .exit functionality.
                                d3.select('#' + this.state.cuid)    //Select the <svg> element you want to render the chart in.
                                      .datum(this.state.data)       //Populate the <svg> element with chart data...
                                      .call(this.state.chart);      // Make it so!
                            },
                            destroy: function () {
                                // Eventually.
                            }
                        };
                    },
                    name: 'Line Chart',
                    description: 'Simple linechart.'
                },
                scatter: {
                    construct: function () {
                        return {
                            options: {
                                // These will populate the settings menu
                                // Put anything user modifiable here.
                                // Specification for operation is STUBBED.
                            },
                            state: {
                                // These are hidden from the settings menu
                            },
                            init: function (data, container) {
                                this.state.container = container;
                                conn = this;
                                conn.state.context = data;
                                // Add the svg element for the chart.
                                conn.state.cuid = container.parent().parent().attr('id') + '-vis';
                                conn.state.svg = $('<svg id="' + this.state.cuid + '"></svg>')
                                            .attr('height', container.parent().height() * 0.99)
                                            .attr('width', container.parent().width() * 0.99);

                                container.append(conn.state.svg);

                                nv.addGraph(function () {
                                    var chart = nv.models.scatterChart()
                                                  .showDistX(true)    //showDist, when true, will display those little distribution lines on the axis.
                                                  .showDistY(true)
                                                  .transitionDuration(350)
                                                  .useVoronoi(false) // Turn this off, it is buggy 
                                                  .color(d3.scale.category10().range());

                                    //Configure how the tooltip looks.
                                    //chart.tooltipContent(function (key) {
                                    //    return '<h3>' + key + '</h3>';
                                    //});

                                    //Axis settings
                                    chart.xAxis.tickFormat(function (d) {
                                        return d3.time.format('%m/%d %H:%M:%S')(new Date(d));
                                    });
                                    chart.yAxis.tickFormat(d3.format('.02f'));

                                    //We want to show shapes other than circles.
                                    chart.scatter.onlyCircles(false);

                                    // This may get broken out into a separate method in the vis spec; TBD.
                                    // Arguments for:
                                    //    1) This enables a significant amount of flexibility for the user.
                                    //       (Enough rope to do anything you'd like)
                                    //    2) After poking at the DT API, I personally don't care for it.
                                    //    3) It works 'now'.
                                    //
                                    // Arguments against:
                                    //    1) It adds complexity (computational and design time) to the process
                                    //       that may not be desirable.
                                    //    2) This goes against the initial idea of using the single data tables
                                    //       instance as a data management api, which may be more familiar to
                                    //       future dev's. It is better documented than ours (currently).
                                    //    4) Memory overhead...
                                    //
                                    var transformData = function () {
                                        var result = [];
                                        for (var i in data.Streams[0].DataStreams) {
                                            var ds = data.Streams[0].DataStreams[i];
                                            var r = {
                                                values: [],
                                                key: ds.name + "(" + ds.units + ")",
                                            };
                                            
                                            for (var j in data.Streams[0].Data) {
                                                var d = data.Streams[0].Data[j];
                                                var v = parseFloat(d.values[ds.name]);
                                                if (!isNaN(v)) {
                                                    r.values.push({
                                                        x: moment(d.time),
                                                        y: v,
                                                        size: 1,
                                                    });
                                                }
                                            }
                                            // Test for no data.
                                            if (r.values.length > 0)
                                                result.push(r);
                                        }
                                        return result
                                    }
                                    conn.state.data = transformData();
                                    d3.select('#' + conn.state.cuid)
                                        .datum(conn.state.data)
                                        .call(chart);

                                    conn.state.chart = chart;
                                    return chart;
                                });
                                return this;
                            },
                            startResize: function () {
                                this.state.svg.attr('height', this.state.container.parent().height() * 0.99)
                                            .attr('width', this.state.container.parent().width() * 0.99);
                                d3.select("#" + this.state.cuid).transition().duration(0).call(this.state.chart);
                            },
                            resizing: function () {
                            },
                            stopResize: function () {
                                this.state.svg.attr('height', this.state.container.parent().height() * 0.99)
                                            .attr('width', this.state.container.parent().width() * 0.99);
                                d3.select("#" + this.state.cuid).transition().duration(0).call(this.state.chart);
                            },
                            add: function (item) {
                                for (var k in item) {
                                    for (var i in this.state.context.Streams[0].DataStreams) {
                                        var ds = this.state.context.Streams[0].DataStreams[i];
                                        for (var j in this.state.data) {
                                            var d = this.state.data[j];
                                            if (d.key == ds.name + "(" + ds.units + ")") {
                                                d.values.push({
                                                    x: item.time,
                                                    y: parseFloat(item[k].values[ds.name]),
                                                    size: 1
                                                });
                                                d.values.shift();
                                            }
                                        }
                                    }
                                }
                                // We could, but do not have to sort the data. Since we don't care about the connectivity.
                                //this.state.data.sort(function (a, b) { return a.time < b.time ? -1 : a.time > b.time ? 1 : 0; });
                                d3.select('#' + this.state.cuid)    //Select the <svg> element you want to render the chart in.
                                      .datum(this.state.data)       //Populate the <svg> element with chart data...
                                      .call(this.state.chart);      // Make it so!
                            },
                            destroy: function () {

                            },
                        };
                    },
                    name: 'Scatter Plot',
                    description: 'Simple two-dimensional scatter plot.'
                },
                monitor: {
                    // Notes on the monitor;
                    // This is an example of a 'visualization' that uses Jquery/html/css
                    // The intent is that this is a medium complex example of how to use
                    // the vis framework.
                    construct: function () {
                        return {
                            options: {
                                // These will populate the settings menu
                                // Put anything user modifiable here.
                                // Specification for operation is STUBBED.
                            },
                            constraints: {
                                // Will contain the valid types, and valence for datasets.
                                // This will be used to determine whether to display this
                                // visualization as an option in the settings view.
                            },
                            state: {
                                // These are hidden from the settings menu
                                table: null,
                                values: {},
                                time: null,
                                data: null,
                                currentTime: null,
                                update: null,
                            },
                            init: function (data, container) {
                                this.state.data = data;
                                this.state.table = $("<table></table>");

                                this.state.table.css('width', '90%')
                                    .css('height', '85%')
                                        .css('margin', '5% 5% 5% 5%');

                                // Consider an alternate construction for the no data situation.
                                var haystack = data.Streams[0].Data;
                                var needle = null;
                                var max = moment(0);
                                for (var i in haystack) {
                                    if (moment(haystack[i].time).isAfter(max)) {
                                        max = moment(haystack[i].time)
                                        needle = haystack[i];
                                    }
                                }
                                this.state.currentTime = moment(needle.time);
                                for (var i in data.Streams[0].DataStreams) {
                                    var details = data.Streams[0].DataStreams[i];
                                    var tr = $("<tr></tr>");
                                    this.state.values[details.name] = $("<td>" + needle.values[details.name] + "</td>");
                                    this.state.values[details.name].css('text-align', 'right')
                                        .append(span("(" + details.units + ")", 'unit'));
                                    tr.append($("<td>" + details.name + "</td>"))
                                      .css('text-align', 'left')
                                      .append(this.state.values[details.name]);
                                    this.state.table.append(tr);
                                }
                                this.state.time = $("<td colspan='2'>" + prettyDate(this.state.currentTime.toDate()) + "</td>");
                                this.state.time.css('border-top', 'solid 1px rgba(100, 100, 100, 1)');
                                // Probably want to put this on a timer.
                                this.state.table.append($("<tr></tr>").append(this.state.time));

                                container.append(this.state.table);
                                var self = this;
                                self.state.update = setInterval(function () {
                                    var humanReadable = prettyDate(self.state.currentTime.toDate());
                                    self.state.time.html(humanReadable);
                                }, 1500);
                                // The constant time here may not be appropriate,
                                // but a decelerating timer also doesn't seem like what I want.
                            },
                            startResize: function () {
                                var c = parseFloat(this.state.data.Streams[0].DataStreams.length);
                                var w = parseFloat(this.state.table.width());
                                var h = parseFloat(this.state.table.height());
                                var fontSize = Math.min(w, h) / (c + 4) + "px"; // fix this.
                                this.state.table.css('font-size', fontSize);
                            },
                            resizing: function () {
                                var c = parseFloat(this.state.data.Streams[0].DataStreams.length);
                                var w = parseFloat(this.state.table.width());
                                var h = parseFloat(this.state.table.height());
                                var fontSize = Math.min(w, h) / (c + 4) + "px"; // fix this.
                                this.state.table.css('font-size', fontSize);
                            },
                            stopResize: function () {
                                var c = parseFloat(this.state.data.Streams[0].DataStreams.length);
                                var w = parseFloat(this.state.table.width());
                                var h = parseFloat(this.state.table.height());
                                var fontSize = Math.min(w, h) / (c + 4) + "px"; // fix this.
                                this.state.table.css('font-size', fontSize);
                            },
                            add: function (item) {
                                for (var j in item) {
                                    for (var i in this.state.data.Streams[0].DataStreams) {
                                        var details = this.state.data.Streams[0].DataStreams[i];
                                        this.state.values[details.name].html(item[j].values[details.name]).append(span("(" + details.units + ")", 'unit'));
                                    }
                                }
                                this.state.currentTime = item.time;
                                return;
                            },
                            destroy: function () {
                                clearInterval(this.state.update);
                            },
                        }
                    },
                    name: 'Value Monitor',
                    description: 'A display for the most recent value, and timestamp.'
                },
                table: {
                    // Notes on the monitor;
                    // This is an example of a 'visualization' that uses Jquery/html/css
                    // The intent is that this is a medium complex example of how to use
                    // the vis framework.
                    construct: function () {
                        return {
                            options: {
                                // These will populate the settings menu
                                // Put anything user modifiable here.
                                // Specification for operation is STUBBED.
                            },
                            constraints: {
                                // Will contain the valid types, and valence for datasets.
                                // This will be used to determine whether to display this
                                // visualization as an option in the settings view.
                            },
                            state: {
                                // These are hidden from the settings menu
                                table: null,
                                values: {},
                                time: null,
                                keys: null,
                                currentTime: null,
                                update: null,
                            },
                            init: function (data, container) {
                                var self = this;
                                var table = $("<table id='table-" + Math.random().toString(36).slice(2) + "' class='compact'></table>");
                                container.append(table);
                                self.state.keys = data.Streams[0].DataStreams;

                                var header = [];
                                for (var i in self.state.keys) {
                                    var a = self.state.keys[i];
                                    header.push({ 'data': "values."+a.name });
                                    table.append($("<th class='dt-head-center'>" + a.name + "</th>").append(span(" (" + a.units + ")", 'unit')));
                                }
                                header.push({ 'data': 'time' });
                                table.append($("<th class='dt-head-center'>Time</th>"));

                                //var tdata = [];
                                //for (var i in data) {
                                //    var d = data[i];
                                //    var o = {};
                                //    o['time'] = d.time;
                                //    for (var j in self.state.keys) {
                                //        var a = self.state.keys[j];
                                //        var x = d.values[a.name];
                                //        o[a.name] = x;
                                //    }
                                //    tdata.push(o);
                                //}
                                //tdata.reverse();

                                self.state.table = table.DataTable({
                                    'data': data.Streams[0].Data,
                                    'columns': header
                                });
                            },
                            startResize: function () {
                                
                            },
                            resizing: function () {
                                
                            },
                            stopResize: function () {
                                
                            },
                            add: function (item) {
                                for (var i in item) {
                                    this.state.table.row.add(item[i]);
                                    this.state.table.draw();
                                }
                                return;
                            },
                            destroy: function () {
                                return;
                            },
                        }
                    },
                    name: 'Tabular',
                    description: 'A table display.'
                },
            };

            visTemplate = function () {
                return;
            }

            var settingsView = function (id, settingsContainer, visContainer, widget, watcher) {
                return {
                    state: {
                        'id': id,
                        'settingsContainer': settingsContainer,
                        'visContainer': visContainer,
                        'widget': widget,
                        'watcher': watcher,
                        'visualization': null,

                    },

                    init: function () {
                        var conn = this;
                        conn.state.settingsContainer.append($("<h4>Settings</h4>"));
                        var label = $('<label>Visualization:</label>')
                        var items = $('<select></select>');
                        items.append($('<option value="">--</option>'));

                        for (var i in visTable) {
                            var vis = visTable[i];
                            var opt = $("<option>" + vis.name + "</options>");
                            opt.attr('value', i);
                            opt.attr('title', vis.description);
                            items.append(opt);
                        }
                        items.val(widget.attr('visid'));
                        conn.state.settingsContainer.append(label).append(items);
                        var changeFunc = function () {
                            //checkprop(visContainer, ':visible', function () {
                                visContainer.empty();
                                if (items.val() == "") {
                                    // Consider emptying the vis view.
                                    conn.state.visualization = null;
                                    conn.state.widget.attr('visid', '');
                                    return;
                                }

                                // When switching visualizations, ensure the destruction of the old vis.
                                if (conn.state.visualization != null) {
                                    conn.state.visualization.destroy();
                                }
                                conn.state.widget.attr('visid', items.val());
                                conn.state.visualization = new visTable[items.val()].construct();

                                conn.state.visualization.init(conn.state.watcher.m.data(), conn.state.visContainer);

                                // This correctly wires up the resize callbacks on a per widget basis.
                                // Note that the individual resize event provided by Jquery works
                                // unreliably with gridster; as gridster provides their own framework.
                                // This works by in the gridster initialization above checking the
                                // widget's li for each of these parameters, and calling the associated
                                // method if defined.
                                // This is relevant for visualizations as they should resize appropriately
                                // when they get more or less canvas space to work with...
                                // Otherwise they end up looking like the original prototype and they only
                                // sporadically resize.
                                conn.state.widget[0]['startResize'] = conn.state.visualization.startResize.bind(conn.state.visualization);
                                conn.state.widget[0]['resizing'] = conn.state.visualization.resizing.bind(conn.state.visualization);
                                conn.state.widget[0]['stopResize'] = conn.state.visualization.stopResize.bind(conn.state.visualization);
                            //});
                        }
                        changeFunc();

                        // Dynamics
                        items.change(changeFunc);
                    }
                };
            }

            var tableView = function (id, cont, watcher) {

                var conn = this;
                var table = $("<table id='" + id + "-table' class='compact'></table>");
                cont.append(table);
                conn.data = watcher.m.data().Streams[0].DataStreams;

                var header = [];
                for (var i in conn.data) {
                    var a = conn.data[i];
                    header.push({ 'data': a.name });
                    table.append($("<th class='dt-head-center'>" + a.name + "</th>").append(span(" (" + a.units + ")", 'unit')));
                }
                header.push({ 'data': 'time' });
                table.append($("<th class='dt-head-center'>Time</th>"));

                var tdata = [];
                var data = watcher.m.data().Streams[0].Data
                for (var i in data) {
                    var d = data[i];
                    var o = {};
                    o['time'] = d.time;
                    for (var j in conn.data) {
                        var a = conn.data[j];
                        var x = d.values[a.name];
                        o[a.name] = x;
                    }
                   tdata.push(o);
                }
                tdata.reverse();
                
                conn.dtAPI = $("#" + id + "-table").DataTable({
                    'data': tdata,
                    'columns': header
                });
                // Instead of referencing the whole object, just the DataStreams part is required.
                
                conn.add = function (obj) {
                    var o = {};
                    o['time'] = obj.time;
                    for (var j in conn.data) {
                        var x = '';
                        var a = conn.data[j];
                        if (obj.values.hasOwnProperty(a.name)) {
                            x = obj.values[a.name];
                        }
                        o[a.name] = x;

                    }
                    conn.dtAPI.row.add(o);
                    conn.dtAPI.draw();
                    return conn;
                };

                return conn;
            }

            

            var handleStreamSelection = function (stream, id, widget, close, settings, vis, showing, visselection) {
                if (typeof (showing) === 'undefined') showing = 'settings';
                if (typeof (visselection) === 'undefined') visselection = '';
                // Single wrapper div to preserve style (smooths slide up/down transitions)
                var wrapper = $('<div class="scrollingList widget-top-level"></div>');
                // Container for the visualization.
                var visContainer = $('<div class="scrollingList widget-vis-container"></div>');
                // Container for settings.
                var settingsContainer = $('<div class="scrollingList widget-settings-container"></div>');
                // Start the table hidden... could do this in reverse (hide the vis) to allow for user
                // driven selection.
                var activePane = settingsContainer;

                // Initialize the global reference.
                var w = getStreamWatcher(stream.StreamID);

                var helper = function (data) {
                    var conn = this;
                    visContainer.hide();
                    settingsContainer.hide();
                    switch (showing) {
                        default: 
                        case 'settings':
                            settingsContainer.show();
                            activePane = settingsContainer;
                            break;
                        case 'visualization':
                            visContainer.show();
                            activePane = visContainer;
                            break;
                    }
                    widget.append(wrapper.append(visContainer)
                                         .append(settingsContainer));

                    // Populate the new widget.
                    // Long term, we probably don't want to pass everything (the data object) through here,
                    // instead passing a reference to the datatables api.
                    // There are two members of the outermost widget div:
                    //    1) The Visualization
                    //    2) The Settings
                    // The vis view will be populated from the settings, so is not touched here.
                    conn.sv = settingsView(id, settingsContainer, visContainer, widget, w);
                    conn.sv.init();

                    widget.attr('showing', showing);
                    widget.attr('visid', visselection);



                    // Specify the close click callback.
                    close.click(function () {

                        removeWatcher(w);
                        gridster.remove_widget($(this).parent());
                        // If there is a visualization,
                        // make sure that the visualization's destroy callback
                        // is triggered on close.
                        if (conn.sv.state.visualization != null) {
                            conn.sv.state.visualization.destroy();
                        }
                    });

                    // Specify the settings click callback.
                    settings.click(function () {
                        if (activePane != settingsContainer) {
                            activePane.slideToggle(toggleSpeed);       // Toggle current pane off
                            activePane = settingsContainer;            // Set new active pane
                            activePane.slideToggle(toggleSpeed);       // Toggle new pane on
                            widget.attr('showing', 'settings');
                        }
                    });

                    // Specify the vis click callback.
                    vis.click(function () {
                        if (activePane != visContainer) {
                            activePane.slideToggle(toggleSpeed);
                            activePane = visContainer;
                            if (conn.sv.state.visualization != null)
                                activePane.slideToggle(toggleSpeed, conn.sv.state.visualization.stopResize.bind(conn.sv.state.visualization));
                            else
                                activePane.slideToggle(toggleSpeed);
                            $(window).trigger('resize'); // Added this line to force NVD3 to redraw the chart
                            widget.attr('showing', 'visualization');
                        }
                    });

                    // Subscribe to the current stream to receive updates.
                    w.m.subscribe(function (name, data) {
                        if (conn.sv.state.visualization != null) {
                            conn.sv.state.visualization.add(data);
                        }
                    });
                }

                if (w.m.ready) {
                    helper(w.m.data());
                } else {
                    w.m.done(helper.bind(this));
                }
            }

            deserialize = function (serialization) {
                
                //gridster.sort_by_row_and_col_asc(serialization);
                $.each(gridster.$widgets, function (index, obj) {
                    $.dm.unsubscribe(obj.attributes['streamid'].value);
                    $(obj).empty();
                });
                gridster.remove_all_widgets();
                // For each serialized widget initialize a new one if we can get the data.
                for(var item in serialization){
                    (function (index, obj) {
                        console.log('Started adding widget ' + index)
                        setTimeout(function () {
                            var close = $('<span class="widget-close"></span>');
                            var settings = $('<span class="widget-settings"></span>');
                            var vis = $('<span class="widget-vis"></span>');
                            var widget = gridster.add_widget('<li />', obj.size_x, obj.size_y, obj.col, obj.row);
                            //checkprop(widget, ':visible', function () {
                            // Get the stream...
                            $.dm.getStream(obj.streamid).done(function (dev) {
                                var strm = dev.Streams[0];
                                var id = $.desc(strm.StreamName) + "plot";
                                widget.attr('id', id)
                                      .append(dev.DeviceName + ": " + strm.StreamName)
                                      .attr("StreamID", strm.StreamID)
                                      .attr("visid", obj.visid)
                                      .append(close)
                                      .append(settings)
                                      .append(vis);

                                console.log('Started handling ' + strm.StreamID);
                                setTimeout(function () {
                                    new handleStreamSelection(strm, id, widget, close, settings, vis, obj.showing, obj.visid);
                                    console.log('Finished handling ' + strm.StreamID);
                                }, 50 * (index+1));// Need to add a fail case to this.
                            });
                            console.log('Finished adding widget '+ index);
                        }, 50 * index);
                    })(item, serialization[item]);
                }
            }

            var deviceDiv = function (dev) {

                var descName = $.desc(dev.DeviceName);
                var cont = $('<div id=' + descName + ' class="device"/>');
                var info = $('<div id=' + descName + 'info' + ' class="device"/>');
                var strms = $('<div id=' + descName + 'strms' + ' class="scrollingList"/>');
                strms.css('display', 'none');
                var hd = $('<h5>' + dev.DeviceName + '</h5>');
                var user = $('<span class="userName"><br>' + dev.UserName + '</span>')
                var inner = $('<p class="descriptive">' + dev.Description + '</p>');
                hd.append(user);
                info.append(hd).append(inner);

                info.click(function (e) {
                    e.preventDefault();
                    if (strms.css('display') === 'none') {
                        $.dm.getStreams(dev.DeviceID).done(function (streamResp) {
                            strms.empty();
                            for (var j in streamResp.Streams) {
                                (function (r) {
                                    var strm = streamResp.Streams[r];
                                    var c = streamDiv(strm)

                                    c.click(function (e) {

                                        e.preventDefault();
                                        var id = $.desc(strm.StreamName) + "plot" + Math.random().toString(36).slice(2);
                                        
                                        var widget = gridster.add_widget('<li id=' + id + '></li>');
                                        widget.attr("DeviceID", dev.DeviceID);
                                        widget.attr("StreamID", strm.StreamID);
                                        widget.append(streamResp.DeviceName + ": " + strm.StreamName);
                                        // Add widget extensions.
                                        var close = $('<span class="widget-close"></span>');
                                        var settings = $('<span class="widget-settings"></span>');
                                        var vis = $('<span class="widget-vis"></span>');
                                        widget.append(close)
                                                .append(settings)
                                                .append(vis);
                                        new handleStreamSelection(strm, id, widget, close, settings, vis);
                                    });
                                    strms.append(c);
                                })(j);
                            }
                            strms.slideToggle(toggleSpeed);
                        });
                    } else {
                        strms.slideToggle(toggleSpeed);
                    }

                });
                cont.append(info).append(strms);
                return cont;
            }


            var streamDiv = function (strm) {
                var cont = $('<div id=' + $.desc(strm.StreamName) + ' class="stream"/>');
                var hd = $('<h6>' + strm.StreamName + ' <small>(' + strm.Units + ')</small></h6>');
                var id = $('<span class="streamid"><br>' + strm.StreamID + '</span>');
                var inner = $('<p class="descriptive">' + strm.Description + '.</p>');
                hd.append(id);
                cont.append(hd).append(inner);
                return cont;
            }

            $.dm.getDevices().done(function (response) {
                for (var i in response) {
                    (function (dev) {
                        var device = response[dev];
                        var c = deviceDiv(device);

                        $('#deviceList').append(c);
                    })(i);
                }
            });
            @if (ViewBag.Layout != null)
        {
            <text>
            deserialize(JSON.parse('@Html.Raw(ViewBag.Layout)'));
            </text>
        }

        }
    </script>
}

<div id='content'>
    <div id='DevicesBar' class='d-container'>
        <h3>Devices</h3>
        <div id='deviceList' class='scrollingList'></div>
    </div>
    <div id="Viewer" class='d-container'>
        <div class='gridster'>
            <ul id="grid"></ul>
        </div>
    </div>
</div>
@Html.ActionLink("Save Dashboard ", "SaveDashboard", "Dashboard", null, new { @class = "modal-link btn btn-success" })
<div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
</div>

